@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1496px !important;
}

:root {
  --black: #0d0d0d;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto-con: "Roboto Condensed", sans-serif;
  --font-amiri: "Amiri", serif;
  --white: white;
  --gray: #5e5e5e;
  --main-color: #95a986;
  --btn-hover: #7eb058;
}

.full-design {
  display: none;
}
.radius-right {
  border-top-right-radius: 30px;
}

.radius-left {
  border-top-left-radius: 30px;
}
.paragraph {
  font-family: var(--font-poppins);
  font-size: 16px;
  color: var(--gray);
  margin-top: 35px;
}

.primary-btn {
  padding: 29px 39px;
  font-family: var(--font-poppins);
  font-size: 18px;
  background: var(--main-color);
  color: var(--black);
  letter-spacing: 0.24em;
  transition: all 0.4s ease;
}

.primary-btn:hover {
  background: var(--btn-hover);
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.title-2 {
  font-family: var(--font-amiri);
  font-size: 45px;
  margin-bottom: 0;
}

.title-4 {
  font-family: var(--font-amiri);
  font-weight: bold;
  font-size: 24px;
}
/* ============ Header Section ========= */
.top-header {
  background-color: var(--black);
  font-family: var(--font-poppins);
  font-size: 14px;
  padding: 5px 0;
}

.nav-container {
  max-width: 1720px !important;
}

.navbar {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  padding: 0 !important;
  z-index: 999;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.navbar-brand {
  font-family: var(--font-roboto-con);
  font-weight: 500;
  font-size: 40px;
}

.nav-link,
.cart-text {
  position: relative;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  padding: 0 !important;
  transition: color 0.3s ease;
}

.active {
  color: var(--white) !important;
}
.nav-link:not(.dropdown-toggle)::after,
.search::after,
.user::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 6px;
  height: 6px;
  background: var(--white);
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}

.dropdown-toggle::after {
  margin-left: 6px;
}

.nav-link:hover {
  color: var(--white);
}
.nav-link:not(.dropdown-toggle):hover::after,
.nav-link.active:not(.dropdown-toggle)::after,
.search:hover::after,
.user:hover::after {
  transform: translateX(-50%) scale(1);
}

.offcanvas {
  flex-direction: row;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #333;
}

.cart-icon {
  margin: 0 6px 0 22px;
}

.cart-text > span {
  font-weight: bold;
}

.search,
.user {
  margin-right: 22px;
  position: relative;
}
/* ============ Banner Section ========= */
.banner-section {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background: url("../asset/banner-bg.png") center / cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding: 76px 60px;
  background: var(--white);
  max-width: 793px;
  border-radius: 20px;
}

.title-1 {
  font-family: var(--font-amiri);
  font-weight: bold;
  font-size: 68px;
}

.banner-btn {
  margin-top: 35px;
}

.primary-btn img {
  margin-left: 16px;
  transition: transform 0.4s ease;
}

.primary-btn:hover img {
  transform: translateX(6px);
}

/* ============ Products Section ========= */

.products-section {
  padding: 100px 0;
}

.upper-heading {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: var(--main-color);
  margin-bottom: 14px;
}

.card {
  --bs-card-border-radius: 0;
  cursor: pointer;
}

.product-card {
  border: none;
  overflow: hidden;
  transition: 0.4s ease;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card:hover {
  transform: translateY(-8px);
}

.card-body {
  padding: 20px 0 0;
}
.rating {
  display: flex;
  align-items: center;
}
.rating img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.rating > img:not(:last-child) {
  margin-right: 4px;
}

.card-text {
  font-family: var(--font-amiri);
  font-size: 20px;
}

/* ============ Success Section ========= */

.success-section {
  padding: 0 0 140px;
}

.success-images {
  position: relative;
  height: 100%;
}

.success-images > img:last-child {
  width: 326px;
  position: absolute;
  bottom: -56px;
  right: 0;
  z-index: 10;
  border-left: 8px solid var(--white);
  border-top: 8px solid var(--white);
}

.success-content {
  margin-left: 120px;
}
.success-content > .title-2 {
  max-width: 350px;
  margin-bottom: 0;
}
.design {
  margin: 18px 0 30px;
}

.success-btn {
  margin-top: 30px;
}
.success-btn > .primary-btn {
  padding: 16px 35px;
}

/* ============ Offer Section ========= */
.offer-section {
  padding-bottom: 133px;
}
.offer-content {
  text-align: center;
}

.offer-content > .full-design {
  display: block;
  margin: 20px auto 50px;
}

.adv-box {
  text-align: center;
  cursor: pointer;
}

.icon-circle {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;
  margin-bottom: 32px;
}

.icon-circle::before {
  content: "";
  position: absolute;
  width: 131px;
  height: 131px;
  background: rgba(149, 169, 134, 0.2);
  border-radius: 50%;
  transition: all 0.4s ease;
  z-index: 0;
}

.icon-circle a {
  z-index: 1;
  transition: 0.4s;
}

.icon-circle:hover {
  transform: scale(1.1);
}

.icon-circle:hover::before {
  transform: scale(1.1);
}

/* =============== Arrivals-section ============== */
.arrivals-section {
  padding: 29px 0 55px;
  background: #f6f6f6;
}

.arrivals-section .card {
  background: transparent;
}

.bottom-left {
  left: 0;
  z-index: 0;
}

.top-right {
  right: 0;
  z-index: 0;
}

/* ================= Footer Section=============== */

.footer-section {
  padding: 64px 0 23px;
}

.footer-heading {
  font-family: var(--font-amiri);
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 19px;
  display: inline-block;
}

.footer-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 1px;
  background: var(--black);
}
.footer-form {
  margin-top: 20px;
}

.subscribe-input {
  height: 55px;
  border-radius: 40px;
  padding: 0 20px;
  border: 1px solid #ddd;
  box-shadow: none;
}

.subscribe-input:focus {
  border-color: #999;
  box-shadow: none;
}

.subscribe-btn {
  width: 184px;
  height: 54px;
  border-radius: 40px;
  border: none;
  background: var(--main-color);
  color: var(--black);
  font-family: var(--font-poppins);
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  margin-top: 13px;
}

.subscribe-btn:hover {
  background: var(--btn-hover);
}

.footer-list {
  margin-top: 40px;
}
.footer-link,
.last-line {
  font-family: var(--font-poppins);
  font-size: 16px;
  text-transform: capitalize;
  color: var(--gray);
  position: relative;
}
.footer-item:not(:first-child) {
  margin-top: 18px;
}

.last-line > a {
  color: var(--gray);
  position: relative;
}

.footer-link:hover,
.last-line > a:hover {
  color: var(--black);
}

.footer-link::after,
.last-line > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--black);
  transition: all 0.3s ease;
}

.footer-link:hover::after,
.last-line > a:hover::after {
  width: 100%;
}
.social-items {
  margin-top: 40px;
}
.social-items > a:not(:last-child) {
  margin-right: 36px;
}

/* ===================== Media screen=================== */

@media screen and (max-width: 1199px) {
  .cart-text {
    display: none;
  }
  .nav-item:not(:last-child) {
    margin-right: 0;
  }
  .nav-btn {
    margin-top: 15px;
  }
  .cart-icon {
    margin: 0 0 0 10px;
  }
  .user {
    margin-right: 10px;
  }

  .nav-link {
    display: inline-block !important;
  }

  .offcanvas {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    flex-direction: column;
    text-align: center;
    padding-top: 90px;
  }

  .nav-item {
    margin-top: 20px;
  }

  .offcanvas .navbar-nav {
    justify-content: center;
    align-items: center;
  }

  .close-btn {
    position: absolute;
    right: 40px;
    top: 80px;
    width: 3px;
    height: 3px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .close-btn::before,
  .close-btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 26px;
    height: 2px;
    background: var(--white);
    transform-origin: center;
  }

  .close-btn::before {
    transform: rotate(45deg);
  }

  .close-btn::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 35px;
  }

  .banner-content {
    padding: 66px 50px;
    max-width: none;
  }
  .title-1 {
    font-size: 48px;
  }
  .success-content {
    margin-left: 0;
  }
  .success-btn {
    margin: 30px 0;
  }

  .offer-section .row > div:nth-child(n + 3) {
    margin-top: 40px;
  }

  .footer-section .row > div:nth-child(n + 2) {
    margin-top: 30px;
  }
  .footer-section .row > div:last-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .banner-content {
    padding: 46px 36px;
  }

  .upper-heading {
    font-size: 14px;
  }
  .title-1 {
    font-size: 40px;
  }

  .title-2 {
    font-size: 35px;
  }
  .primary-btn {
    padding: 19px 29px;
    font-size: 16px;
  }

  .products-content,
  .success-content,
  .arrivals-content {
    text-align: center;
  }
  .success-content > .title-2 {
    max-width: none;
  }
  .design {
    display: none;
  }
  .full-design {
    display: block;
    margin: 16px auto;
  }

  .footer-section > .row {
    text-align: center;
  }
  .footer-heading::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--black);
  }
}

@media screen and (max-width: 576px) {
  .top-header {
    font-size: 9px;
    padding: 3px 0;
  }
  .navbar-brand {
    font-size: 22px;
  }

  .banner-content {
    padding: 26px 16px;
  }
  .title-1 {
    font-size: 36px;
  }

  .title-2 {
    font-size: 32px;
  }

  .paragraph {
    font-size: 14px;
  }
  .primary-btn {
    padding: 14px 22px;
    font-size: 16px;
  }
  .primary-btn img {
    display: none;
  }
  .success-images > img:last-child {
    display: none;
  }

  .offer-section .row > div:not(:first-child) {
    margin-top: 40px;
  }
  .products-section {
    padding: 50px 0;
  }
  .success-section {
    padding: 0 0 70px;
  }
  .offer-section {
    padding-bottom: 65px;
  }
  .arrivals-section {
    padding: 24px 0 45px;
    background: #f6f6f6;
  }
  .footer-section {
    text-align: center;
  }

  .footer-section .footer-form {
    justify-content: center;
  }

  .footer-section .row > div:not(:first-child) {
    margin-top: 30px;
  }
}
